# ARRAYS

### Question1
1. Let us say your expense for every month are listed below,
    
    i. January -  2200
 	
    ii. February - 2350
    
    iii. March - 2600
    
    iv. April - 2130
    
    v. May - 2190

Create a list to store these monthly expenses and using that find out,

    1. In Feb, how many dollars you spent extra compare to January?
    2. Find out your total expense in first quarter (first three months) of the year.
    3. Find out if you spent exactly 2000 dollars in any month
    4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
    5. You returned an item that you bought in a month of April and got a refund of 200. Make a correction to your monthly    expense list based on this

In [20]:
expenses = [2200,2350,2600,2130,2190]

In [2]:
# 1.
print('Extra spent:',expenses[1]-expenses[0])

Extra spent: 150

In [5]:
# 2.
print('First quarter expense:',sum(expenses[:3]))

First quarter expense: 7150

In [6]:
# 3.
if 2000 in expenses:
    print('Yes')
else:
    print('No')

No

In [21]:
# 4.
expenses.append(1980)
expenses

[2200, 2350, 2600, 2130, 2190, 1980]

In [22]:
# 5.
expenses[3] = expenses[3] - 200
expenses

[2200, 2350, 2600, 1930, 2190, 1980]

### Question2
2. You have a list of your favourite marvel super heros.
```
heros=['spider man','thor','hulk','iron man','captain america']
```

Using this find out,

    1. Length of the list
    2. Add 'black panther' at the end of this list
    3. You realize that you need to add 'black panther' after 'hulk',
       so remove it from the list first and then add it after 'hulk'
    4. Now you don't like thor and hulk because they get angry easily :)
       So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
       Do that with one line of code.
    5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [37]:
heros=['spider man','thor','hulk','iron man','captain america']

In [38]:
# 1.
len(heros)

5

In [39]:
# 2. 
heros.append('black panther')
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

In [40]:
# 3.
heros.remove('black panther')
heros.insert(3,'black panther')
heros

['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

In [41]:
# 4.
heros[1:3] = ['doctor strange']
heros

['spider man',
 'doctor strange',
 'black panther',
 'iron man',
 'captain america']

In [46]:
# 5.
heros.sort()
heros

['black panther',
 'captain america',
 'doctor strange',
 'iron man',
 'spider man']

### Question3
3. Create a list of all odd numbers between 1 and a max number.
Max number is something you need to take from a user using input() function

In [51]:
max_num = int(input('max num :'))
lst = []
num = 1
while(num + 1 < max_num):
    num += 2
    lst.append(num) 
    
print('List is:\n',lst)

max num :10
List is:
 [3, 5, 7, 9]

In [54]:
max_num = int(input('max_num :'))
lst = []
for i in range(1,max_num+1):
    if i % 2 != 0:
        lst.append(i)
lst

max_num :31

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31]