In [177]:
list1=["bin bash",'a',
"echo This is a shell script",
"echo Firs",
"echo First",
"SentenceTokenization"]

In [178]:
min(list1)

'SentenceTokenization'

In [45]:
list1.insert(1,"bye")

In [14]:
type(list1[1])

str

In [15]:
len(list1)

6

In [16]:
list1[4]

'echo First'

In [25]:
from pandas import DataFrame

In [26]:
list1.append("hello")

In [50]:
print(list1)

['echo Firs', 'echo First', 'SentenceTokenization']

In [32]:
list1.remove('hello')

In [47]:
del list1[0]

In [49]:
list1.pop(0)

'bye'

In [53]:
len(list1)

6

In [57]:
for i in list1:
    print(i)

bin bash
5
echo This is a shell script
echo Firs
echo First
SentenceTokenization

In [70]:
for i in range(len(list1)):
    print(i)
    print(list1[i])

0
bin bash
1
5
2
echo This is a shell script
3
echo Firs
4
echo First
5
SentenceTokenization

In [71]:
for index,val in enumerate(list1):
    print(index, val)

0 bin bash
1 5
2 echo This is a shell script
3 echo Firs
4 echo First
5 SentenceTokenization

In [76]:
list_num=[1,2,3,4,5,6]

In [84]:
list_mul_2=[ i*2 for i in list_num]

In [91]:
list_mul_2

[4, 8, 12, 16, 20, 24]

In [83]:
list_num

[2, 4, 6, 8, 10, 12]

In [88]:
list2=['hi']

In [90]:
list2*10

['hi', 'hi', 'hi', 'hi', 'hi', 'hi', 'hi', 'hi', 'hi', 'hi']

In [92]:
list_mul_2

[4, 8, 12, 16, 20, 24]

In [94]:
12 in list_mul_2

True

In [99]:
if 20 in list_mul_2:
    print('this is in list')
else:
     print('this is not in list')

this is in list

In [104]:
list_mul_2[0:4]

[4, 8, 12, 16]

In [107]:
min(list_mul_2)

4

In [108]:
list_mul_2.count(4)

1

In [110]:
min(list1)

'5'

In [352]:
lst1=["bin bash help me in",
"echo This is a shell script",
"echo Firs a",
"SentenceTokenization is a the","echo First is",]

In [124]:
keyword='a'

In [119]:
for i in range(len(lst1)):
    print(lst1[i])
#     if keyword in lst1[i]:
#         p

bin bash help me in
echo This is a shell script
echo Firs a
echo First is
SentenceTokenization is a the

In [353]:
keyword='a'

In [354]:
keyword_sent=[]
for sent in lst1:
    #print(sent)
    if keyword in sent.split():
        keyword_sent.append(sent)

In [355]:
keyword_sent

['echo This is a shell script', 'echo Firs a', 'SentenceTokenization is a the']

In [356]:
len(keyword_sent[0])

27

In [357]:
sent_len=[]
for index,sent in enumerate(keyword_sent):
    sent_len.append(len(sent.split()))

In [358]:
sent_len

[6, 3, 4]

In [359]:
keyword_sent[sent_len.index(min(sent_len))]

TypeError: 'int' object is not callable

# tuple

In [196]:
tp=(1,2,3,4,5,6)

In [208]:
tp=tuple()

In [209]:
tp=()

In [199]:
lst=[1,2,3,4,5,6]

In [200]:
lst[0]=4

In [201]:
print(lst)

[4, 2, 3, 4, 5, 6]

In [197]:
print(tp)

(1, 2, 3, 4, 5, 6)

In [202]:
print(tp[0]*4)

4

In [204]:
new_tilt_of_tp=list(tp)

In [206]:
type(new_tilt_of_tp)

list

# Dictonary

In [210]:
dict1=dict()

In [211]:
dict1={}

In [225]:
dict1={1:['abhishek','engg','rohini'],2:'aditya',7:'anibhav'}

In [234]:
dict1.keys()

dict_keys([1, 2, 7])

In [237]:
new_lst=list(dict1.values())

In [238]:
new_lst

[['abhishek', 'engg', 'rohini'], 'aditya', 'anibhav']

In [239]:
new_lst[0][2]

'rohini'

In [244]:
for i in new_lst:
    if type(i)==list:
        for j in i:
            print(j)
    else:
        print(i)

abhishek
engg
rohini
aditya
anibhav

# Set

In [246]:
set1=set()

In [247]:
type(set1)

set

In [270]:
lst=[1,2,3,4,5,6,7,8,9,2,3,4,5,6,7]

In [251]:
len(lst)

15

In [252]:
new_list=list(set(lst))

In [253]:
len(new_list)

9

In [254]:
new_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [262]:
set(new_list)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [309]:
lst=[1,2,3,4,5,6,7,8,9,2,3,4,5,6,7]

In [315]:
lst=list(set(lst))

In [316]:
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [312]:
new_list1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [313]:
new_list2=new_list1

In [314]:
new_list2

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [319]:
new_list3=[9,8,7,6]

In [320]:
new_list4=new_list2 + new_list3

In [321]:
new_list4

[1, 2, 3, 4, 5, 6, 7, 8, 9, 9, 8, 7, 6]

In [299]:
remove_dup=[]
for val in lst:
    if val not in remove_dup:
        remove_dup.append(val)
        print(val)

1
2
3
4
5
6
7
8
9

In [300]:
remove_dup

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [307]:
for i in lst:
    if i==6:
        lst.remove(i)

In [308]:
lst

[1, 2, 3, 4, 5, 7, 8, 9, 2, 3, 4, 5, 7]

# Assignment

In [339]:
num_list=[3,5,6,7,1,2,7,9,3,1,4,6]

In [323]:
num_list.sort()

In [332]:
print(num_list)

[3, 5, 6, 7, 1, 2, 7, 9, 3, 1, 4, 6]

In [333]:
num_list1=list(set(num_list))

In [334]:
print(num_list1)

[1, 2, 3, 4, 5, 6, 7, 9]

In [349]:
min1=num_list[0]
for _,values in enumerate(num_list):
    if(min1>values):
        min1=values

In [347]:
print(min1)

1

In [342]:
max=num_list[0]
for index,values in enumerate(num_list):
    if(max<values):
        max=values

In [343]:
print(max)

9